<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" , href="/css/reset.css" />
		<title>Estacionamentinho</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
			title="Hello "
			+
			name
		/>
	</head>

	<body>
		<header>
			<h1>Bem vindo <%= user.name %></h1>
			<nav>
				<ul>
					<li>
						Saldo: <%= user.currency %>
					</li>
					<li>
						<form action="/auth/logout" method="post">
							<button type="submit">Logout</button>
						</form>
					</li>
				</ul>
			</nav>
		</header>

		<form action="/vehicles/add" method="post">
			<label for="type"> Tipo do veículo:</label>
			<select name="type" id="type">
				<option value="carro">Carro</option>
				<option value="moto">Moto</option>
				<option value="onibus">Onibus</option>
				<option value="caminhao">Caminhao</option>
			</select>

			<label for="description"> Identificação:</label>
			<input type="text" id="description" name="description" required />

			<label for="licensePlate"> Placa:</label>
			<input
				type="text"
				id="licensePlate"
				name="licensePlate"
				required
				oninput="this.value = this.value.toUpperCase();"
				maxlength="7"
			/>

			<button type="submit">Adicionar</button>
		</form>

		<main>
			<h2>Seus Veículos</h2>
			<ul id="vehicles">
				<% user.vehicles.forEach(vehicle => { %>
				<li id="<%= vehicle['_id'] %>">
					<%= vehicle.description %><br />
					<%= vehicle.licensePlate %><br />
					<button
						type="submit"
						onclick="deleteVehicle(`<%= vehicle['_id'] %>`, `<%= vehicle.licensePlate %>`)"
					>
						Remover
					</button>
				</li>
				<% }); %>
			</ul>
		</main>

		<footer>
			<script
				src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
				integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
				crossorigin="anonymous"
			></script>
			<script
				src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
				integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
				crossorigin="anonymous"
			></script>
			<script
				src="https://code.jquery.com/jquery-3.6.0.min.js"
				integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
				crossorigin="anonymous"
			></script>
		</footer>

		<script>
			const deleteVehicle = (vehicleId, licensePlate) => {
				$.ajax({
					url: '/vehicles/remove',
					type: 'DELETE',
					data: {
						licensePlate,
					},
					success: (res) => {
						$(`#${vehicleId}`).remove();
					},
				});
			};
		</script>
	</body>
</html>
