<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" , href="/css/reset.css" />
		<title>Estacionamentinho</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
			title="Hello "
			+
			name
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/@mdi/font@6.2.95/css/materialdesignicons.min.css"
			rel="stylesheet"
		/>
	</head>

	<body>
		<header>
			<h1>Bem vindo <%= user.name %></h1>
			<nav>
				<ul>
					<li>Saldo: <%= user.currency %></li>
					<li>
						<button
							type="button"
							class="btn btn-primary"
							data-toggle="modal"
							data-target="#addCurrencyModal"
						>
							<span class="mdi mdi-account-cash-outline">Adicionar Saldo</span>
						</button>
					</li>
					<li>
						<form action="/auth/logout" method="post">
							<button class="btn btn-secondary" type="submit">
								<span class="mdi mdi-account-arrow-left">Logout</span>
							</button>
						</form>
					</li>
				</ul>
			</nav>
		</header>

		<main>
			<form action="/vehicles/add" method="post">
				<label for="type"> Tipo do veículo:</label>
				<select name="type" id="type">
					<option value="carro">Carro</option>
					<option value="moto">Moto</option>
					<option value="onibus">Onibus</option>
					<option value="caminhao">Caminhao</option>
				</select>

				<label for="description"> Identificação:</label>
				<input type="text" id="description" name="description" required />

				<label for="licensePlate"> Placa:</label>
				<input
					type="text"
					id="licensePlate"
					name="licensePlate"
					required
					oninput="this.value = this.value.toUpperCase();"
					maxlength="7"
				/>

				<button type="submit">Adicionar</button>
			</form>

			<h2>Seus Veículos</h2>
			<ul id="vehicles">
				<% user.vehicles.forEach(vehicle => { %>
				<li id="<%= vehicle['_id'] %>">
					<span id="vehicle-type"><%= vehicle.type %></span> <br />
					<span id="vehicle-description"><%= vehicle.description %></span>
					<br />
					<span id="vehicle-licensePlate"><%= vehicle.licensePlate %></span>
					<br />

					<button
						type="button"
						class="btn btn-primary"
						data-toggle="modal"
						data-target="#updateVehicleModal"
						onclick="updateVehicleForm(`<%= vehicle['_id'] %>`)"
					>
						<span class="mdi mdi-content-save-edit"></span>
					</button>
					<button
						type="button"
						class="btn btn-danger"
						onclick="deleteVehicle(`<%= vehicle['_id'] %>`, `<%= vehicle.licensePlate %>`)"
					>
						<span class="mdi mdi-delete"></span>
					</button>
				</li>
				<% }); %>
			</ul>
		</main>

		<!-- Modal Adicionar Saldo -->
		<div
			class="modal fade"
			id="addCurrencyModal"
			tabindex="-1"
			role="dialog"
			aria-labelledby="addCurrencyModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addCurrencyModalLabel">Adicionar Saldo</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<label for="value"> Valor adicionar:</label>
							<input
								type="number"
								id="value"
								name="value"
								min="1"
								step="0.01"
								required
							/>
							<br />

							<label for="card-number"> Numero do cartão:</label>
							<input
								type="text"
								id="card-number"
								name="creditCardNumber"
								size="20"
								onkeyup="validateCardNumber(this.value)"
								required
							/>
							<p id="notice">(no card number entered)</p>
							<br />

							<label for="cvv"> CVV:</label>
							<input
								type="text"
								id="cvv"
								name="creditCardCvv"
								maxlength="3"
								minlength="3"
								required
							/>
							<br />

							<label for="expiration-date"> Data de expiração:</label>
							<input
								type="month"
								id="expiration-date"
								name="creditCardExpiration"
								required
							/>
							<br />

							<label for="save-card"> Salvar cartão:</label>
							<input type="checkbox" id="save-card" name="saveCard" value="true" />
							<br />
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="depositCurrency()">
							Adicionar
						</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							Fechar
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Update Vehicle -->
		<div
			class="modal fade"
			id="updateVehicleModal"
			tabindex="-1"
			role="dialog"
			aria-labelledby="updateVehicleModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="updateVehicleModalLabel">Atualizar Veículo</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<label for="licensePlate"> Placa:</label>
							<input
								type="text"
								id="edit-licensePlate"
								name="licensePlate"
								required
								disabled
								oninput="this.value = this.value.toUpperCase();"
								maxlength="7"
							/>
							<br />

							<label for="type"> Tipo do veículo:</label>
							<select name="type" id="edit-type">
								<option value="carro">Carro</option>
								<option value="moto">Moto</option>
								<option value="onibus">Onibus</option>
								<option value="caminhao">Caminhao</option>
							</select>
							<br />

							<label for="description"> Identificação:</label>
							<input type="text" id="edit-description" name="description" required />
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							Fechar
						</button>
						<button type="button" class="btn btn-primary" onclick="updateVehicle()">
							Atualizar
						</button>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<script
				src="https://code.jquery.com/jquery-3.6.0.min.js"
				integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
				crossorigin="anonymous"
			></script>
			<script
				src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
				integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
				crossorigin="anonymous"
			></script>
			<script
				src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
				integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
				crossorigin="anonymous"
			></script>
		</footer>

		<script>
			document.addEventListener('DOMContentLoaded', () => {
				const now = new Date(Date.now());
				const nowMonth = now.getMonth() + 1;
				const month = nowMonth < 10 ? `0${nowMonth}` : nowMonth;

				document
					.getElementById('expiration-date')
					.setAttribute('min', `${now.getFullYear()}-${month}`);
			});

			const deleteVehicle = (vehicleId, licensePlate) => {
				$.ajax({
					url: '/vehicles/remove',
					type: 'DELETE',
					data: {
						licensePlate,
					},
					success: (res) => {
						$(`#${vehicleId}`).remove();
					},
				});
			};

			const updateVehicleForm = (vehicleId) => {
				const licensePlate = $(`#${vehicleId} #vehicle-licensePlate`).text();
				const type = $(`#${vehicleId} #vehicle-type`).text();
				const description = $(`#${vehicleId} #vehicle-description`).text();

				$('#edit-licensePlate').val(licensePlate);
				$('#edit-type').val(type).change();
				$('#edit-description').val(description);
			};

			const updateVehicle = () => {
				const licensePlate = $('#edit-licensePlate').val();
				const type = $('#edit-type').val();
				const description = $('#edit-description').val();
				console.log(licensePlate, type, description);

				$.ajax({
					url: '/vehicles/update',
					type: 'PATCH',
					data: {
						licensePlate,
						type,
						description,
					},
					success: (res) => {
						location.reload();
					},
				});
			};

			const validateCardNumber = (cardNum) => {
				const cardnumber = cardNum.replace(/[ -]/g, '');

				const match =
					/^(?:(4[0-9]{12}(?:[0-9]{3})?)|(5[1-5][0-9]{14})|(6(?:011|5[0-9]{2})[0-9]{12})|(3[47][0-9]{13})|(3(?:0[0-5]|[68][0-9])[0-9]{11})|((?:2131|1800|35[0-9]{3})[0-9]{11}))$/.exec(
						cardnumber,
					);

				if (!match) {
					$('#notice').text('(invalid card number)');
				}

				const types = [
					'Visa',
					'MasterCard',
					'Discover',
					'American Express',
					'Diners Club',
					'JCB',
				];

				for (let i = 1; i < match.length; i++) {
					if (match[i]) {
						$('#notice').text(types[i - 1]);
						break;
					}
				}
			};

			const depositCurrency = () => {
				const value = Number($('#value').val());
				const creditCardNumber = $('#card-number').val();
				const creditCardCvv = $('#cvv').val();
				const creditCardExpiration = $('#expiration-date').val();
				const saveCard = $('#save-card').is(':checked');

				$.ajax({
					url: '/user/currency',
					type: 'POST',
					data: {
						value,
						creditCardNumber,
						creditCardCvv,
						creditCardExpiration,
						saveCard,
					},
					success: (res) => {
						location.reload();
					},
				});
			};
		</script>
	</body>
</html>
