<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<%- include('./partials/head', { title: 'Estacionamentinho' }); %>
		<link rel="stylesheet" href="/css/home.css" />
	</head>
	<body>
		<div class="logout-bemvindo">
			<div></div>
			<h1>Bem vindo <%= user.name %></h1>

			<div>
				<form action="/auth/logout" method="post">
					<button class="btn btn-secondary cor-cinza" type="submit">
						<span class="mdi mdi-account-arrow-left">Logout</span>
					</button>
				</form>
			</div>
		</div>
		<div class="saldo">
			<p class="fonte-tam-18">Saldo: <%= user.currency %></p>
			<button
				type="button"
				class="btn btn-primary"
				data-toggle="modal"
				data-target="#addCurrencyModal"
			>
				<span class="mdi mdi-account-cash-outline"> Adicionar Saldo</span>
			</button>
		</div>
		<hr />
		<main>
			<div class="cadastro-veiculos" id="parks"></div>
			<form id="add-vehicle-form">
				<p id="add-vehicle-form-error"></p>
				<label for="type"> Tipo do veículo:</label>
				<select name="type" id="type">
					<option value="carro">Carro</option>
					<option value="moto">Moto</option>
					<option value="onibus">Onibus</option>
					<option value="caminhao">Caminhao</option>
				</select>
				<p id="error-type"></p>

				<label for="description"> Identificação:</label>
				<input type="text" id="description" name="description" required />
				<p id="error-description"></p>

				<label for="licensePlate"> Placa:</label>
				<input
					type="text"
					id="licensePlate"
					name="licensePlate"
					required
					oninput="this.value = this.value.toUpperCase();"
					maxlength="7"
				/>
				<p id="error-licensePlate"></p>

				<button type="button" class="btn btn-primary" onclick="addVehicle()">
					Adicionar
				</button>
			</form>

			<h2>Seus Veículos</h2>

			<table>
				<tr>
					<th>Tipo</th>
					<th>Identificação</th>
					<th>Placa</th>
					<th>Estacionar</th>
					<th>Editar</th>
					<th>Excluir</th>
				</tr>
				<ul id="vehicles">
					<% user.vehicles.forEach(vehicle=> { %>
					<tr>
						<div id="<%= vehicle['_id'] %>">
							<td><span id="vehicle-type"> <%= vehicle.type %> </span></td>
							<td>
								<span id="vehicle-description"> <%= vehicle.description %> </span>
							</td>
							<td>
								<span id="vehicle-licensePlate"> <%= vehicle.licensePlate %> </span>
							</td>

							<td>
								<button
									type="button"
									class="btn btn-primary"
									data-toggle="modal"
									data-target="#parkVehicleModal"
									onclick="parkVehicleForm(`<%= vehicle.licensePlate %>`)"
								>
									<span class="mdi mdi-car-brake-parking"></span>
								</button>
							</td>
							<td>
								<button
									type="button"
									class="btn btn-primary"
									data-toggle="modal"
									data-target="#updateVehicleModal"
									onclick="updateVehicleForm(`<%= vehicle['_id'] %>`)"
								>
									<span class="mdi mdi-content-save-edit"></span>
								</button>
							</td>
							<td>
								<button
									type="button"
									class="btn btn-danger"
									onclick="deleteVehicle(`<%= vehicle['_id'] %>`, `<%= vehicle.licensePlate %>`)"
								>
									<span class="mdi mdi-delete"></span>
								</button>
							</td>
						</div>
						<% }); %>
					</tr>
				</ul>
			</table>
		</main>

		<%- include('./modals/add-currency'); %> <%- include('./modals/park-vehicle'); %> <%-
		include('./modals/update-vehicle'); %> <%- include('./partials/footer'); %>

		<script src="https://cdn.rawgit.com/hilios/jQuery.countdown/2.2.0/dist/jquery.countdown.min.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', () => {
				const now = new Date(Date.now());
				const nowMonth = now.getMonth() + 1;
				const month = nowMonth < 10 ? `0${nowMonth}` : nowMonth;

				document
					.getElementById('expiration-date')
					.setAttribute('min', `${now.getFullYear()}-${month}`);
			});

			$(document).ready(function () {
				$.get('/park/actives', (res) => {
					const div = $('#parks');
					res.forEach((park) => {
						const licensePlate = `<span>Placa: ${park.vehicleLicensePlate}</span>`;
						const countdown = $('<p style="font-weight: bold"></p>').countdown(
							new Date(park.parkEndTime),
							function (event) {
								$(this).html(event.strftime('%H:%M:%S'));
							},
						);
						div.append(licensePlate, countdown);
					});
				});
			});

			const addVehicle = () => {
				const licensePlate = $('#licensePlate').val();
				const type = $('#type').val();
				const description = $('#description').val();

				$('#error-licensePlate').text('');
				$('#error-type').text('');
				$('#error-description').text('');

				$.ajax({
					url: '/vehicles/add',
					type: 'POST',
					data: {
						licensePlate,
						type,
						description,
					},
					success: (res) => {
						window.location.replace('/home');
					},
					error: (err) => {
						formValidationError(err, 'add-vehicle-form');
					},
				});
			};

			const deleteVehicle = (vehicleId, licensePlate) => {
				$.ajax({
					url: '/vehicles/remove',
					type: 'DELETE',
					data: {
						licensePlate,
					},
					success: (res) => {
						$(`#${vehicleId}`).remove();
					},
				});
			};

			const parkVehicleForm = (vehicleLicensePlate) => {
				$('#vehicleLicensePlate').val(vehicleLicensePlate);
			};

			const updateVehicleForm = (vehicleId) => {
				const licensePlate = $(`#${vehicleId} #vehicle-licensePlate`).text();
				const type = $(`#${vehicleId} #vehicle-type`).text();
				const description = $(`#${vehicleId} #vehicle-description`).text();

				$('#error-licensePlate').text('');
				$('#error-type').text('');
				$('#error-description').text('');

				$('#edit-licensePlate').val(licensePlate);
				$('#edit-type').val(type).change();
				$('#edit-description').val(description);
			};
		</script>
	</body>
</html>
